/*==============================================================
   GENERAL STYLES
 =============================================================*/
	html { position: relative; height: 100%; }
	body { height: 100%;}

	.container.page {min-height: 100%; height: 100%; height: auto; padding-bottom:200px;}

	.tsp-background {background: rgba(0,0,0,0.4);}
	.white-text {color: #fff !important;}

	.page-banner{height: 500px;}
	@media screen and (max-width:600px) {
		.page-banner{height: 300px;}
	}
	footer {background-color: #000033; color: #fff; padding-top: 15px;}
	
/*==============================================================
   NAVIGATION STYLES
 =============================================================*/
	#navbar-logo {height: 40px; margin-top: -10px;}
	.navbar a.navbar-brand:hover { background-color: transparent;}

/*==============================================================
   PRINT STYLES
 =============================================================*/
	@media print {
		body {height: auto;}
		a[href]:after {
			content: none !important;
		}
		.print.col-xs-12, .print.col-sm-10 {
			width:100%;
		}
		.print-col-sm-10 {
			width:83.33333333%; display: inline-block;
		}
		.print-col-sm-2{width:16.66666667%; display: inline-block;}
		.print-col-sm-4{width:33.33333333%; display: inline-block;}
		a.text-muted, a .material-icons {color: #ecf0f1 !important;}
		.tab-pane.fade {opacity: 1; display:block;}

		.alert {margin-bottom: 0px;}

	}

#back-to-top {position: fixed; bottom: 20px; right: 20px; z-index: 12; display: none;}

/*==============================================================
   EMAIL STYLES
=============================================================*/
	.email-width {width: 300px;}

